@font-face {
    font-family: 'BebasNeue';
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Roboto' ;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    /*te ayuda para ver todas las cajas de la pagina*/
    /*border: 1px black solid;*/
}

body {
    min-height: 100vh;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'BebasNeue';
    color: black;
}