#service {
    width: 100%;
}

/*linea de abajo del banner*/
.about-us {
    border-top: 10px solid #d1f0b5;
    margin-top: 0px;
}

/*Titulo con breve descripcion*/
.nosotros {
    margin-top: 30px;
    text-align: center;
}

/*estilos para el h2 abajo del titulo*/
.about-us>h2 {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

/*estilos logo de wsp fixed*/
.float {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 40px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;

    .img_float {
        width: 60%;
        color: #fff;
    }
}

/*Inicio de imagenes de ¿que hacemos?*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;

    .about {
        text-align: center;
        width: 250px;
        /* Ajusta según el tamaño que desees para las imágenes */
    }

    .about>img {
        max-width: 100%;
        height: auto;
        /* Mantiene la proporción de las imágenes */
    }
}

/*estilos para cards de img ¿que hacemos?*/

.card {
    position: relative;
    width: 200px;
    height: 200px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card img {
    width: 200px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover img {
    scale: 0;
    transform: rotate(-45deg);
}

.card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.2);
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #000000;
    line-height: 1.4;
}




/*Inicio segundo section con las descargas de los programas*/
#downloads {
    width: 100%;
}

.downloads {
    border-top: 2px solid #999;
    margin-top: 30px;
    text-align: center;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.team-viewer {
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.team-viewer>img {
    padding-right: 20px;
}